<div class="row my-5 px-5">
  <h2 class="text-secondary fs-1 fw-bold mb-5 mt-3">Sign up</h2>
  <div class="col-4">
    <div class="row mb-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-2">
          <%= f.label :name, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.text_field :name, placeholder: 'Your First Name', class: 'form-control' %>
        </div>

        <div class="mb-2">
          <%= f.label :last_name, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.text_field :last_name, placeholder: 'Your Last Name', class: 'form-control' %>
        </div>

        <div class="mb-2">
          <%= f.label :nickname, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.text_field :nickname, placeholder: 'Your NickName', class: 'form-control' %>
        </div>

        <div class="mb-2">
          <%= f.label :email, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.email_field :email, autocomplete: "email", placeholder: 'example-email@domain.com', class: 'form-control' %>
        </div>

        <div class="mb-2">
          <%= f.label :password, class: 'fs-4 form-label fw-bold' %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:'Password',class: 'form-control' %>
          <div class="form-text">
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %> characters minimum)
            <% end %>
          </div>
        </div>

        <div class="mb-5">
          <%= f.label :password_confirmation, class: 'fs-4 form-label fw-bold' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'PasswordConfirmation',class: 'form-control' %>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



