<div class="row my-5 px-5">
  <div class="col-4">
    <%= link_to 'Back', root_path, class: 'text-primary fw-bold' %><br />
    <h2 class="text-center text-secondary fs-1 fw-bold mb-5 mt-3">Log in</h2>

    <div class="row mb-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>
        <div class="mb-2">
          <%= f.label :email, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example-email@domain.com', class: 'form-control' %>
        </div>

        <div class="mb-5">
          <%= f.label :password, class: 'fs-4 form-label fw-bold' %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:'Your Password',class: 'form-control' %>
        </div>

        <div class="d-grid gap-2 mb-3">
          <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="d-flex mb-3 form-check align-items-center justify-content-center">
            <%= f.check_box :remember_me, class: 'form-check-input mx-2' %>
            <%= f.label :remember_me, class: 'fs-5 form-check-label' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row justify-content-center">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
