<!DOCTYPE html>
<html>
  <head>
    <title>CiberCoffe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      
      <header class="row">
        <div class="col m-0 p-0">
          <%= render 'partials/navbar' %>
          <%= render 'partials/notice_alerts' %>
        </div>
      </header>
      
      <section class="main-container row align-items-center">
        <main class="col bg-white">
          <%= yield %>
        </main>
      </section>

      <footer class="row">
        <div class="col bg-dark text-white p-2">
          <%= render 'partials/footer' %>
        </div>
      </footer>
    </div>
  </body>
</html>
